#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 1rem; */
    /* text-align: center; */
}

* {
    box-sizing: border-box;
}

:root {
    --color1: #ffffff; /* Main background.*/
    --color2: #f2f2f2; /* For secondary backgrounds or dividers.*/
    --color3: #d9d9d9; /* For borders and minor text elements.*/
    --color4: #595959; /* For primary text and headers.*/
    --color5: #ff6f61; /* For accents, buttons, or links to add a vibrant contrast.*/
    --color6: #b23895; /* For accents, buttons, or links to add a vibrant contrast.*/
    --color7: #050036; /* For accents, buttons, or links to add a vibrant contrast.*/
}

@font-face {
    font-family: blacksword;
    src: url("./fonts/Blacksword.otf");
}
@font-face {
    font-family: Broetown;
    src: url("./fonts/Broetown Signature.ttf");
}

/* Navbar Styling */
.nav-bar {
    width: 100%;
    /* height: 100%; */
    /* background: url("./Luffy.jpg") center center/cover; */
    color: rgb(255, 255, 255);
    /* box-shadow: inset 0px 50px 150px #000; */
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 2;
}

.nav-bar-main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 10;
    /* backdrop-filter: blur(20px); */
    /* position: fixed;
  width: 100%;
  right: 71.5px; */
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    height: 70%;
}

.search-bar {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 60%;
    height: 35px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Times New Roman", Times, serif;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-button {
    width: max-content;
    padding: 0px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    /* background: rgb(223, 208, 238); */
}

.nav-buttons {
    display: flex;
}

.nav-buttons li {
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.nav-buttons li:hover {
    color: var(--color5);
}

.nav-buttons li > * {
    font-size: 1.1rem;
    color: var(--color1);
    transition: all 0.35s;
}

.nav-buttons li > *:hover {
    color: var(--color6);
}

.nav-list {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-list img {
    width: 30px;
    border-radius: 20px;
}

.welcome {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-text h3 {
    font-size: 5rem;
    font-style: italic;
    font-family: Broetown, Arial, Helvetica, sans-serif;
    /* padding: 0; */
    margin-bottom: -40px;
}

.welcome-text h4 {
    font-size: 1.5rem;
}

.welcome-text p {
    font-size: 1.5rem;
    font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* margin-top: 5px; */
    font-weight: 500;
    color: #d9d9d9;
}
.welcome > p {
    color: #f2f2f2;
}

/* Pictures body */
.Pictures-main {
    text-align: center;
    padding: 80px 10%;
    min-height: calc(100vh - 8vh);
    /* margin-top: 80px; */
}

.pic-text-div {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.gH4 {
    font-size: 1.3rem;
    font-weight: 700;
    position: relative;
    color: var(--color4);
}

.gH4::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color5);
    position: absolute;
    bottom: 0;
    left: 0;
}

.Sorted {
    display: flex;
    align-items: center;
}

.Sorted h4 {
    color: var(--color4);
}

.selected {
    outline: none;
    padding: 3px;
    border-radius: 15px;
    font-size: 12px;
    margin-left: 4px;
    background: #d4d4d4;
    border: none;
    font-weight: 600;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.pic-container {
    width: 1080px;
    margin: 0px auto;
    columns: 4;
    column-gap: 10px;
}

.pic-relative {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    break-inside: avoid;
}

.pic-source {
    height: 100%;
}

.pic-source img {
    width: 100%;
    border-radius: 10px;
}

.pic-buttons {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
    box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.95);
    color: var(--color2);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.pic-relative:hover .pic-buttons {
    visibility: visible;
}

.pic-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: flex-end;
}

.pic-name {
    text-align: left;
    padding: 0px 0px 0px 10px;
    font-size: 1.1rem;
    font-weight: 100;
}

.btn {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background: var(--color5);
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    transition: all 0.15s linear;
}

.btn:hover {
    transform: scale(0.9);
}

/* .download-btn{
  display: flex;
  align-items: center;
} */

.like-btn {
    background: white;
    color: var(--color5);
    padding: 10px;
    border-radius: 30px;
}

.down-arrow {
    margin-right: 2px;
    font-weight: 700;
    font-size: 1rem;
}

.view-btn {
    font-size: 1.2rem;
    padding: 8px;
    background: white;
    color: var(--color5);
}

@media (min-width: 1600px) {
    .pic-container {
        width: 1500px;
        columns: 5;
    }
    .user_photos {
        columns: 5;
    }
}

@media (max-width: 1440px) {
    .pic-container {
        width: 100%;
        columns: 4;
    }
    .user_photos {
        columns: 4;
    }
}

@media (max-width: 1200px) {
    .pic-container {
        width: 100%;
        columns: 3;
    }
    .user_photos {
        width: 70%;
        columns: 3;
    }
}

@media (max-width: 768px) {
    .pic-container {
        width: 100%;
        columns: 2;
    }
    .user_photos {
        width: 70%;
        columns: 2;
    }
}

@media (max-width: 480px) {
    .pic-container {
        width: 100%;
        columns: 1;
    }

    .user_photos {
        width: 70%;
        columns: 1;
    }
}

/* Landing Div */

.landing-div {
    position: relative;
    padding-top: 80px;
    height: calc(100vh - 8vh);
    /* background-color: red; */
    color: white;
    /* opacity: 0.5; */
    background: url("./cat.png") center center/cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

.landing-control-div {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 64px;
    position: relative;
    z-index: 1;
}

.svg-div {
    inset: 0px 0px -2px;
    width: 100%;
    background: url("./download.svg") center bottom;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
}

.text-div {
    height: 100%;
}

.text {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.text h1 {
    max-width: 600px;
    width: 50%;
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}

.text p {
    max-width: 552px;
    width: 50%;
    font-size: 16px;
    line-height: 20px;
}

.landing-buttons {
    display: flex;
    width: 100%;
    margin-top: 1em;
    gap: 10px;
}

.lnd-btn {
    /* width: auto; */
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-weight: bold;
    border: none;
    min-width: 170px;
    line-height: 56px;
    font-size: 21px;
    transition: all 0.35s;
    position: relative;
    /* z-index: 10; */
}

.Explore {
    color: #88f0bf;
    background-color: #050036;
}

.SignUp {
    background-color: #88f0bf;
    color: #050036;
}

.Explore::after {
    content: "Explore";
    min-width: inherit;
    height: 56px;
    background-color: #88f0bf;
    position: absolute;
    left: 0;
    border-radius: inherit;
    color: #050036;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.55s ease;
}

.Explore:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.SignUp::after {
    content: "Sign Up";
    min-width: inherit;
    height: 56px;
    background-color: #050036;
    position: absolute;
    left: 0;
    border-radius: inherit;
    color: #88f0bf;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.55s ease;
}

.SignUp:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}
.lnd-btn:hover {
    scale: 0.95;
}

/* footer */
.footer {
    height: 8vh;
    background: var(--color1);
    padding: 0px 10%;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-div h3 {
    font-size: 0.9rem;
    color: var(--color4);
}

.contact-item-div {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.contact-item-div a {
    color: var(--color5);
}

/* Login page Css */

.login-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8vh);
    /* border: 2px solid red; */
    /* background: var(--color5); */
    background: url("/puppie6.jpg") center center/cover;
    background-repeat: no-repeat;
}

.login-control-div {
    width: 300px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--color5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: all 0.35s linear;
}

.login-control-div.height {
    height: 340px;
}

.login-form {
    width: 100%;
    /* border: 1px solid yellow; */
    padding: 20px;
    position: relative;
    transition: all 0.35s linear;
}

.log1.false {
    transform: translateX(-300px);
}

.login-form > input {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

.login-form div {
    padding: 8px 0px;
}

.login-form div label {
    color: var(--color1);
    font-weight: 700;
}

.login-form div input {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--color4);
    /* margin-top: 5px; */
    background: var(--color2);
}

.sign-up-form {
    transition: all 0.35s linear;
    position: absolute;
    left: 100%;
}
.sign-up-form.true {
    left: 0;
}

/* User Profile */

.main_profile {
    padding-top: 80px;
}

.profile_control {
    /* border: 2px solid var(--color4); */
    height: calc(100vh - 8vh - 80px);
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.user_photos {
    height: 100%;
    width: 75%;
    /* border: 1px solid var(--color5); */
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    scrollbar-width: none;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    padding: 10px;
    gap: 10px;
}

.user_profile {
    height: 100%;
    width: 20%;
    /* border: 1px solid var(--color6); */
}

.user_profile_ctrl {
    height: 100%;
    padding: 20px;
}

.user_profile_pic {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.pro_pic-div {
    /* border: 1px solid var(--color5); */
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px;
}

.pro_pic-div img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: inherit;
}

.user_followers {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 15px;
    /* gap: 10px; */
    font-size: 14px;
    font-weight: bold;
}

.upload_class {
    width: 100%;
    margin-top: 20px;
    height: 60%;
    position: relative;
    overflow: hidden;
}

.upload_btn {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    background: var(--color5);
    color: var(--color2);
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease;
}

.upload_btn:hover {
    background-color: var(--color3);
    color: var(--color7);
}

/* Upload form styling */

.up_check {
    visibility: hidden;
}

.up_check:checked ~ .img-upload-form-div {
    transform: translateX(0);
}

.img-upload-form-div {
    width: 100%;
    height: 60%;
    /* border: 1px solid var(--color7); */
    position: absolute;
    top: 0;
    padding: 5px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    transform: translateX(100%);
    transition: all 0.35s linear;
}

.img-upload-form-div input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0px 10px;
    /* border: 1px solid var(--color7); */
    margin-top: 10px;
    outline: none;
}

.img-upload-form-div input:first-child {
    border: 1px solid var(--color4);
    font-size: 14px;
    font-weight: 600;
}

.img-upload-form-div input:first-child::placeholder {
    font-size: 14px;
    font-weight: bold;
}

.img-upload-form-div input:nth-child(3) {
    border-radius: 0px;
    /* background: var(--color6); */
}

.img-upload-form-div input:last-child {
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: var(--color7);
    color: var(--color1);
    cursor: pointer;
    transition: all 0.35s ease;
}

.img-upload-form-div input:last-child:hover {
    background: var(--color3);
    color: var(--color7);
}

.close_up_form {
    background: none;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.35s linear;
}

.close_up_form:hover {
    color: var(--color5);
}
